[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
	ignore = dirty
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Pesc0/imgui-cmake.git
[submodule "vendor/shv"]
	path = vendor/shv
	url = https://github.com/pongo1231/shv_no_msvc
